Author: ichitaso <willfeeltips@gmail.com>
Maintainer: ScarNaruto <admin@scar-naruto.com>
Name: PowerSelector (iOS 11)
Package: com.ichitaso.powerselector11
Pre-Depends: firmware (>= 11.0)
Depends: mobilesubstrate, preferenceloader
Conflicts: com.ichitaso.powerselector, com.dpkgdan.powertap, com.weesstt.powerdownoptions, com.subdiox.powertap2, com.rustybalboa.powertapxi
Replaces: com.ichitaso.powerselector11
Section: Utilities
Installed-Size: 1231
Version: 1.1-6
Architecture: iphoneos-arm
Description: The power supply relation of a device is operated.
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=ccsupportpowerselectorDp
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=ccsupportpowerselectorDp
Sponsor: ScarNaruto <http://scar-naruto.com>
dev: ichitaso
Tag: purpose::extension, compatible::ios11
Icon: file:///Library/PreferenceBundles/PowerSelectorSettings.bundle/icon@2x.png
